.calc {
    background-color: gray;
    border: solid 1px darkblue;
    border-radius: 4px;
    width: 400px;
    padding: 10px;
}
.calc__inner {
    position: relative;
}
.calc__display {
    background-color: whitesmoke;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 30px;
    padding: 5px;
    pointer-events: none;
}
.calc__operator-display {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 30px;
    padding: 5px;
    margin: 1%;
    text-align: center;
}
.calc__block {
    display: flex;
}
.calc__button {
    background-color: whitesmoke;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    /*line-height: 40px;*/
    color: black;
    cursor: pointer;
    outline: none;
    /*border: solid 1px black;*/
}
.calc__button:hover {
    background-color: #e6e6e6;
}
.calc__button:active {
    background-color: #cbcbcb;
}
.calc__block .calc__button {
    width: 23%;
    margin: 1%;
}
.calc__bottom .calc__button {
    width: 98%;
    margin: 1%;
}
